{% load staticfiles %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block head_title %}{{ WAZIMAP.name }}{% endblock %}</title>
        <meta name="description" content="{% block head_meta_description %}{% endblock %}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head_css %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/vendor/normalize.min.css">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <link rel="stylesheet" href="{% static 'css/wazimap.css' %}">
        <!-- Added by Shashi -->
        <!--{{ block.super }} <!-- Not sure what this means -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-green.min.css">
        <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <!-- End Shashi Changes -->
        {% block head_css_extra %}{% endblock %}{% endblock head_css %}
        {% block head_javascript %}
        <script src="//cdn.jsdelivr.net/g/modernizr@2.7,respond@1.4"></script>
        {% block head_javascript_extra %}{% endblock %}{% endblock %}
        <!-- Begin Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            {% if WAZIMAP.ga_tracking_id %}
            ga('create', '{{ WAZIMAP.ga_tracking_id }}', 'auto');
            {% endif %}
            ga('send', 'pageview');

        </script>
        <!-- End Google Analytics -->
        {% block favicon %}
        <link rel="shortcut icon" href="{{ STATIC_URL }}img/icons/favicon.ico" />
        {% endblock favicon %}
        <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/icons/touch-icon-144x144.png" sizes="144x144" />
        {% block head_facebook_tags %}{% endblock %}
        {% block head_twitter_tags %}{% endblock %}
        <!-- Page generated: {% now "Y-m-d H:i:s.u" %} -->
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        {% block body %}
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Always shows a header, even in smaller screens. -->
        
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header bgcolor">
            {% block header %}
            <header class="mdl-layout__header .mdl-color--indigo-700">
                <div class="mdl-layout__header-row">
                  <!-- Title -->
                  <span class="mdl-layout-title"><a href="{% url 'homepage' %}"><img class="counting-india-logo-image" src="{% static 'img/counting-india-logo-beta.png' %}"></a></span>
                    
                  <!-- Add spacer, to align navigation to the right -->
                  <div class="mdl-layout-spacer"></div>
                    
                  <!-- Needs more work for mobile & tablets -->
                  <!-- Displayed on Computer and Tablet -->
                  <!-- Search -->
                  <div class="mdh-expandable-search mdl-cell--hide-phone mdl-cell--hide-tablet .mdl-color--indigo-500">
                    <i class="material-icons">search</i>
                    <input style="width: calc(100% - 16px); background-color:#5C6BC0; padding-left: 50px; opacity: 0.7" name="geography_select" id="geography-select" type="text" placeholder="search state or a district" size="1">
                    </div>
                  <!-- Displayed on mobile -->
                  <div class="mdl-layout-spacer mdl-cell--hide-tablet mdl-cell--hide-desktop"></div>
                  <!-- Search button -->
                  <button class="mdh-toggle-search mdl-button mdl-js-button mdl-button--icon mdl-cell--hide-desktop">
                    <i class="material-icons">search</i>
                  </button>

                  <!-- Navigation. We hide it in small screens. -->
                  <nav class="mdl-navigation mdl-layout--large-screen-only">
                    <!--<a class="mdl-navigation__link mdl-typography--text-uppercase" href="/about">About Us</a>-->
                    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="https://factly.in" target="_blank" style="color:rgb(255,255,255)!important;">Factly</a>
                    <button class="mdl-button mdl-js-button mdl-button--icon" onclick="window.location.href='https://facebook.com/factlydotin'">
                        <i class="fa fa-facebook" aria-hidden="true" style="font-size: 20px; opacity: 0.87;"></i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon" onclick="window.location.href='https://twitter.com/factlydotin'">
                        <i class="fa fa-twitter" aria-hidden="true" style="font-size: 20px; opacity: 0.87;"></i>
                    </button>
                    <button class="mdl-button mdl-js-button mdl-button--icon" onclick="window.location.href='https://github.com/factly/janaganana'">
                        <i class="fa fa-github" aria-hidden="true" style="font-size: 20px; opacity: 0.87;"></i>
                    </button>
                  </nav>
                </div>
                			
            </header>
            <div class="mdl-layout__drawer">
                <span class="mdl-layout-title"><a href="{% url 'homepage' %}"><img class="counting-india-logo-image" src="{% static 'img/counting-india-logo-drawer.png' %}"></a></span>
                <nav class="mdl-navigation">
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/about">About Us</a>
                  <a class="mdl-navigation__link mdl-typography--text-uppercase" target="_blank" href="https://factly.in">Factly</a>
                </nav>
                <div style="padding-left: 30px;">
                  <button class="mdl-button mdl-js-button mdl-button--icon" onclick="window.location.href='https://facebook.com/factlydotin'">
                    <i class="fa fa-facebook" aria-hidden="true" style="font-size: 20px;"></i>
                  </button>
                  <button class="mdl-button mdl-js-button mdl-button--icon" onclick="window.location.href='https://twitter.com/factlydotin'">
                    <i class="fa fa-twitter" aria-hidden="true" style="font-size: 20px;"></i>
                  </button>
                  <button class="mdl-button mdl-js-button mdl-button--icon" onclick="window.location.href='https://github.com/factly/janaganana'">
                    <i class="fa fa-github" aria-hidden="true" style="font-size: 20px;"></i>
                  </button>
                </div>
            </div>
            {% block header_content %}{% endblock header_content %}
            {% endblock %}

            {% block content_container %}
            <div class="content-container clearfix main-content">
                {% block content %}{% endblock %}
            </div>
            {% endblock %}


            <footer class="mdl-mega-footer">
                {% block footer_content %}
                <div class="wrapper">
                    <div class="mdl-mega-footer__drop-down-section mdl-cell--4-col">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading mdl-typography--text-uppercase">{{ WAZIMAP.name }}</h1>
                        <ul class="mdl-mega-footer__link-list">
                            <li><i class="material-icons">info</i><a href="/about">About {{ WAZIMAP.name }}</a></li>
                            <li><img class="material-icons" src="{% static 'img/github-box.png' %}"><a href="https://github.com/factly/janaganana" target="_blank">Counting India on Github</a></li>
                            <li><i class="material-icons">email</i><a href="mailto:{{ WAZIMAP.email }}">Email us</a></a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer__drop-down-section mdl-cell--4-col">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading mdl-typography--text-uppercase">Factly</h1>
                        <ul class="mdl-mega-footer__link-list">
                            <li><i class="material-icons">web</i><a href="https://factly.in/about/" target="_blank">About Factly</a></li>
                            <li><img class="material-icons" src="{% static 'img/facebook-box.png' %}"><a href="https://facebook.com/factlydotin" target="_blank">Facebook</a></li>
                            <li><img class="material-icons" src="{% static 'img/twitter-box.png' %}"><a href="https://twitter.com/{{ WAZIMAP.twitter }}" target="_blank">Twitter</a></a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer__drop-down-section mdl-cell--4-col">
                        <input class="mdl-mega-footer__heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer__heading mdl-typography--text-uppercase">Attributions</h1>
                        <ul class="mdl-mega-footer__link-list">
                            <li><i class="material-icons">web</i>Built on <a href="https://github.com/censusreporter/censusreporter" target="_blank">Census Reporter</a></li>
                            <li><i class="material-icons">web</i>Built on <a href="https://github.com/Code4SA/wazimap/" target="_blank">Wazimap</a></li>
                            <li><i class="material-icons">web</i>Built on <a href="https://github.com/Code4Nepal/nepalmap_app" target="_blank">Nepal Map</a></li>
                        </ul>
                    </div>
                </div>
                {% endblock footer_content %}
            </footer>
        </div>     

        {% endblock body %}

        {% include 'settings_js.html' %}

        {% block body_javascript %}
        <!--[if gte IE 9]><!-->
        <script src="//cdn.jsdelivr.net/g/jquery@2.1,d3js@3.4,typeahead.js@0.10.2(typeahead.bundle.min.js),underscorejs@1.6,spinjs@1.3,handlebarsjs@1.3(handlebars.min.js)"></script>
        <!--<![endif]-->

        <!-- local patched version of r2d3 handles percentage widths, HTML overlays -->
        <!--[if lte IE 8]>
        <script src="{{ STATIC_URL }}js/vendor/r2d3.js" charset="utf-8"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/aight/1.2.2/aight.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/aight/1.2.2/aight.d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="//cdn.jsdelivr.net/g/typeahead.js@0.10.2(typeahead.bundle.min.js),underscorejs@1.6,spinjs@1.3,handlebarsjs@1.3(handlebars.min.js)"></script>
        <![endif]-->

        <!--[if lte IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-ajaxtransport-xdomainrequest/1.0.1/jquery.xdomainrequest.min.js"></script>
        <![endif]-->

        <script src="{% static 'js/app.js' %}"></script>
        <script src="{% static 'js/glossary.js' %}"></script>
        <script src="{% static 'js/widget.geo.select.js' %}"></script>
        <!-- For Toggling Search Box on the Header bar -->
        <script>
            // TODO: this got hacky quick..... needs major refactor
            //       hide the two icons if the search box is below a certain size.
            $(document).ready(function() {
              $('.mdh-toggle-search').click(function() {
                // No search bar is currently shown
                if ($(this).find('i').text() == 'search') {
                  $(this).find('i').text('cancel');
                  $(this).removeClass('mdl-cell--hide-tablet mdl-cell--hide-desktop'); // Ensures the close button doesn't disappear if the screen is resized.

                  $('.mdl-layout__drawer-button, .mdl-layout-title, .mdl-badge, .mdl-layout-spacer').hide();
                  $('.mdl-layout__header-row').css('padding-left', '16px'); // Remove margin that used to hold the menu button
                  $('.mdh-expandable-search').removeClass('mdl-cell--hide-phone mdl-cell--hide-tablet').css('margin', '0 16px 0 0');

                }
                // Search bar is currently showing
                else {
                  $(this).find('i').text('search');
                  $(this).addClass('mdl-cell--hide-desktop');

                  $('.mdl-layout__drawer-button, .mdl-layout-title, .mdl-badge, .mdl-layout-spacer').show();
                  $('.mdl-layout__header-row').css('padding-left', '');
                  $('.mdh-expandable-search').addClass('mdl-cell--hide-phone mdl-cell--hide-tablet').css('margin', '0 50px');
                }

              });
            });
        </script>
        {% block body_javascript_extra %}{% endblock %}{% endblock body_javascript %}
    </body>
</html>

