{% extends '_base.html' %}{% load partition staticfiles %}

{% block head_title %}About - {{ block.super }}{% endblock %}

{% block content_container %}
<main class="mdl-layout__content" style="flex: 1 0 auto; opacity: 0.7;">
    <div class="content-container clearfix">
        <article class="clearfix wrapper mdl-card mdl-shadow--2dp mdl-cell--12-col" id="about" style="margin: auto; max-width: 1600px;">
            <div class="mdl-card__title" style="background-color: #303F9F;color: #C5CAE9; padding-left: 37px;">
                <h2 class="mdl-card__title-text">About Counting India</h2>
            </div>
            <section class="mdl-card__supporting-text wrapper" style="color: rgba(0,0,0,87);">
                <p>Counting India (CI) is an initiative of <a href="https://factly.in" target="_blank">Factly</a>. CI makes data related to the States/Districts in India more accessible and understandable. The primary source of data for CI is the Census of India 2011 and other official sources. In CI, one can compare any two States/Districts side by side.  One can also embed, access or download the data. </p>
                <p>We envision that every person who is interested in using data in their sphere of work will value CI’s platform. CI will also be a reliable resource for policy makers, journalists and researchers to explore and discover stories of public interest in India. </p>
                <p>CI code is licensed under the MIT License. CI has been modeled on tools like <a href="https://kenya.wazimap.org/" target="_blank">Wazimap Kenya</a>, <a href="http://censusreporter.org/" target="_blank">Census Reporter</a> and as inspired by <a href="http://nepalmap.org/" target="_blank">NepalMap</a>.</p>
            </section>
        </article>
    </div>
</main>
{% endblock %}
