{% extends 'homepage.html' %}{% load humanize partition staticfiles %}

{% block head_title %}{{ WAZIMAP.name }}: {{WAZIMAP.tagline}}{% endblock %}
{% block head_meta_description %}{{ WAZIMAP.name }} provides useful facts about places in {{ root_geo.name }}. Compare places using tables and maps, download data, and embed charts on your site!{% endblock %}
{% block body_id %}homepage{% endblock %}

{% block homepage_detail %}
<div class="content-container clearfix">
    <article id="explore" class="clearfix wrapper">
        {% include "data/_blocks/_data_query_builder.html" %}
    </article>
</div>

<div class="content-container clearfix tan-stripe">
    <article class="wrapper">
        <section class="column-full clearfix">
            <h1 class="article-header">Explore and understand India using data</h1>
            <p>Whether you live in Kashmir or Kanyakumari, make sense of Census data.</p>
            <div id="slippy-map"></div>
        </section>
        <section>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-book"></i>
                    Find facts
                </h3>
                <p>Data is broken down by category: Demographics, education.</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-bar-chart-o"></i>
                    Visualize
                </h3>
                <p>Our library of charts gives you insight into data from the places you search. Look for them on profile pages. You can also embed the charts</a> on your own site.</p>
            </div>
            <div class="column-third callout with-icon">
                <h3>
                    <i class="fa fa-refresh"></i>
                    Get context
                </h3>
                <p>Pre-computed statistics are presented alongside each data point, so you can see how each place fits into a larger context.</p>
            </div>
        </section>
    </article>
</div>

<div class="content-container clearfix">
    <article id="examples" class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">Using {{ WAZIMAP.name }}</h1>
        </header>
        <section class="card-container clearfix">
            <h2 class="column-full subhead">Finding places</h2>
            <span class="column-half card">
                <img src="{% static 'img/examples/text_search.png' %}">
                <span class="caption">Type in the name of the district. Then select the location you are interested in from the dropdown.</span>
            </span>
            <span class="column-half card">
                <img src="{% static 'img/examples/map_search.png' %}">
                <span class="caption">Alternatively, click on the map area you want to go to. The <span class="zoom-in">+</span> and <span class="zoom-out">-</span> buttons zoom in an out.</span>
            </span>
            <h2 class="column-full subhead">Exploring data</h2>
            <span class="column-half card">
                <img src="{% static 'img/examples/section_overview.png' %}">
                <span class="caption">Statistics are broken down into categories. Find a key figure for a sub-category on the left.</span>
            </span>
            <span class="column-half card">
                <img src="{% static 'img/examples/hover_over_graph.png' %}">
                <span class="caption">Hover over graphs to see comparisons with the district and country averages.</span>
            </span>
        </section>
    </article>
</div>

<div class="content-container clearfix tan-stripe">
    <article id="examples" class="clearfix wrapper">
        <header class="column-full">
            <h1 class="article-header">About {{ WAZIMAP.name }}</h1>

         <p class="explainer">
             <p>Janaganana makes data on India more accessible and understandable.
            Janaganana is of great use to journalists, students, academics and others who are interested in using data to learn about each district, and soon every Taluk.
This tool is a friendly and reliable resource for journalists who want to use data to tell stories or discover stories that are of public interest.
Janaganana uses data from Census India, and other official sources, to create user-friendly data visualizations on key demographic issues.You can embed, access or download the data too. You can also compare any two areas side-by-side.
Janaganana is a project of factly.in, a non-profit that is well known Data Journalism/Public Information portals in India.!

            <h2 class="column-full subhead">Shoulders of Giants</h2>
        <p>Yes! Janaganana is based on <a href="https://kenya.wazimap.org/" target="_blank">Wazimap Kenya</a> which is based on <a href="http://censusreporter.org/" target="_blank">Census Reporter</a>.
            <a href="http://nepalmap.org/" target="_blank">Nepalmap.org</a> also inpsired this project. You can build <a href="https://wazimap.readthedocs.org/en/latest/index.html" target="_blank">one</a> for your country.All of these tools are completely open source.
            Janaganana code is licensed under the MIT License.</p>


        </header>
    </article>
</div>
{% endblock %}
