{% extends '_base.html' %}{% load humanize partition staticfiles jsonify %}

{% block head_title %}{{ block.super }}: Making Census Data Easy to Use{% endblock %}
{% block head_meta_description %}{{ WAZIMAP.name }} provides useful facts about places in {{ root_geo.name }}. Compare places using tables and maps, download data, and embed charts on your site!{% endblock %}
{% block body_id %}homepage{% endblock %}

{% block head_css_extra %}
<link rel="stylesheet" href="{% static 'css/vendor/leaflet-0.6.4.css' %}" />
<!--[if lte IE 8]>
    <link rel="stylesheet" href="{% static 'css/vendor/leaflet-0.6.4.ie.css' %}" />
<![endif]-->
<link href="{% static 'css/vendor/leaflet.label.css' %}" rel="stylesheet" />
{% endblock %}

{% block content_container %}
<main class="mdl-layout__content" style="flex: 1 0 auto;">
    {% block place_finder %}
    <div class="content-container clearfix homepage-hero">
        <article id="profile" class="clearfix wrapper">
            <section class="column-full clearfix">
                <div id="geography-select-wrapper">
                    <div class="logo-font counting-india-slogan" style="text-align: center;opacity: 0.8;">Explore India using data</div>
                    <div class="logo-font counting-india-sub-slogan" style="text-align: center;opacity: 0.7;">explore. visualize. compare. understand.</div>
                    
                    <div class="homepage-search">
                        <i class="material-icons">search</i>
                        <input type="text" name="geography_select" id="geography-select" placeholder="search for a state or district in India ..." size="1">
                    </div>

                    <div style="text-align: right;">
                        <span class="or" style="float:none; text-align: center; padding-right: 15px;">or</span>
                        <button style="width: 300px;" onclick="location.href='/profiles/{{ root_geo.geo_level }}-{{root_geo.geo_code }}/';" class="browse-india-button mdl-button counting-india-mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Browse India</button>
                    </div>
                </div>
            </section>
        </article>
    </div>
    {% endblock %}

    {% block homepage_detail %}
    
    <div class="content-container clearfix homepage-dataset" style="background-color: #9FA8DA;">
        <article id="explore" class="clearfix wrapper">
            {% include "data/_blocks/_data_query_builder.html" %}
        </article>
    </div>    
    
    <div class="content-container clearfix" style="background-color: #E8EAF6;">
        <article class="wrapper">
            <section class="clearfix">
                <h1 class="article-header" style="opacity:0.87">Discover the story behind the data.</h1>
                <p class="primary-explainer" style="opacity: 0.7; display:block">Counting India is <a href="https://factly.in" target="_blank">Factly’s</a> attempt to bridge the gap between the facts and the narrative. It is our attempt to process the data available and present it in a way you will understand. It is a journey that can take you as far as you want, from Kashmir to Kanyakumari with a special set of eyes. Eyes that will crunch the numbers, create personalized data visualization on key demographics and eyes that cannot lie.</p>
                <div id="slippy-map"></div>
            </section>
            <section class="content-grid mdl-grid" style="padding-top: 0px; padding-bottom: 0px">
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                  <div class="mdl-card__title" style="background-color: #3F51B5; color: #C5CAE9;">
                    <i class="material-icons" style="padding-right: 20px;">library_books</i>
                    <h2 class="mdl-card__title-text">Find facts</h2>
                  </div>
                  <div class="mdl-card__supporting-text" style="line-height: 28px;">
                    Populations and financial figures are broken down by category: Demographics, Religion, Education, Marital Status, Data on Workers and Age.
                  </div>
                </div>
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                  <div class="mdl-card__title" style="background-color: #3F51B5; color: #C5CAE9;">
                    <i class="material-icons" style="padding-right: 20px;">insert_chart</i>
                    <h2 class="mdl-card__title-text">Visualize</h2>
                  </div>
                  <div class="mdl-card__supporting-text" style="line-height: 28px;">
                    Our library of charts gives you insight into data from the places you research. Look for them on profile pages. You can even <a style = "color: #4CAF50;" href="{% url 'example_detail' 'embed-charts' %}">embed the charts</a> on your own site.
                  </div>
                </div>
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--6-col-tablet mdl-cell--12-col-phone">
                  <div class="mdl-card__title" style="background-color: #3F51B5; color: #C5CAE9;">
                    <i class="material-icons" style="padding-right: 20px;">bubble_chart</i>
                    <h2 class="mdl-card__title-text">Get context</h2>
                  </div>
                  <div class="mdl-card__supporting-text" style="line-height: 28px;">
                    Pre-computed statistics are presented alongside each data point, so you can see how each place fits into a larger context.
                  </div>
                </div>
            </section>
        </article>
    </div>

    <div class="content-container clearfix">
        <article id="examples" class="clearfix wrapper">
            <h1 class="article-header" style="opacity: 0.8">Using {{ WAZIMAP.name }}</h1>
            </header>
            <section class="clearfix">
                <h2 class="subhead" style="opacity: 0.7">Finding places</h2>
                <div class="content-grid mdl-grid">
                    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone" style="background-color: #E8EAF6;">
                      <div class="mdl-card__title" style="background-color: #3F51B5; color: #C5CAE9; background: url(/static/img/examples/text_search.jpg) center / cover; height:366px">
                        <h2 class="mdl-card__title-text"></h2>
                      </div>
                      <div class="mdl-card__supporting-text" style="line-height: 28px;">
                        Type in the name or address of a place. Then select the location you are interested in from the dropdown.
                      </div>
                    </div>
                    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone" style="background-color: #E8EAF6;">
                      <div class="mdl-card__title" style="background-color: #3F51B5; color: #C5CAE9; background: url(/static/img/examples/map_search.jpg) center / cover; height:366px">
                        <h2 class="mdl-card__title-text"></h2>
                      </div>
                      <div class="mdl-card__supporting-text" style="line-height: 28px;">
                        Alternatively, click on the map area you want to go to. The <span class="zoom-in">+</span> and <span class="zoom-out">-</span> buttons zoom in an out.
                      </div>
                    </div>
                </div>

                <h2 class="subhead" style="opacity: 0.7">Exploring data</h2>
                <div class="content-grid mdl-grid">
                    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone" style="background-color: #E8EAF6;">
                      <div class="mdl-card__title" style="background-color: #3F51B5; color: #C5CAE9; background: url(/static/img/examples/section_overview.jpg) center / cover; height:366px">
                        <h2 class="mdl-card__title-text"></h2>
                      </div>
                      <div class="mdl-card__supporting-text" style="line-height: 28px;">
                        Statistics are broken down into categories. Find a key figure for a sub-category on the left.
                      </div>
                    </div>
                    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-phone" style="background-color: #E8EAF6;">
                      <div class="mdl-card__title" style="background-color: #3F51B5; color: #C5CAE9; background: url(/static/img/examples/hover_over_graph.jpg) center / cover; height:366px">
                        <h2 class="mdl-card__title-text"></h2>
                      </div>
                      <div class="mdl-card__supporting-text" style="line-height: 28px;">
                        Hover over graphs to see comparisons with the district and country averages.
                      </div>
                    </div>
                </div>
            </section>
        </article>
    </div>

{% endblock %}
</main>
{% endblock %}

{% block body_javascript_extra %}
{{ block.super }}

{% block homepage_javascripb_libs %}
<script src="{% static 'js/vendor/leaflet-0.6.4.js' %}"></script>
<script src="{% static 'js/vendor/topojson.v1.min.js' %}"></script>
<script src="{% static 'js/vendor/leaflet.label.js' %}"></script>
<script src="{% static 'js/maps_static.js' %}"></script>
<script src="{% static 'js/profile_map.js' %}"></script>
{% endblock %}

<script>
// show 'use my current location' button
if (Modernizr.geolocation) {
    $('.geolocate-only').show();
}
// geoSelect already defined by widget.geo.select.js
geoSelect.focus()

var maps = new ProfileMaps();
var centre = {% if WAZIMAP.map_centre %}{{ WAZIMAP.map_centre }}{% else %}null{% endif %};
var zoom = {% if WAZIMAP.map_zoom %}{{ WAZIMAP.map_zoom }}{% else %}null{% endif %};
maps.drawMapForHomepage({{ geo_data.first_child_level|jsonify|safe }}, {{ WAZIMAP.default_geo_version|jsonify|safe }}, centre, zoom);
</script>
<script src="{% static 'js/data.query.builder.js' %}"></script>
{% endblock %}
