<article id="age" class="clearfix wrapper mdl-card mdl-shadow--2dp mdl-cell--12-col profile-section">
    <div class="mdl-card__title">
        <i class="material-icons"><i class="material-icons">perm_contact_calendar</i></i>
        <h2 class="mdl-card__title-text">Age</h2>
    </div>
    <div class="mdl-card__supporting-text wrapper" >
        <div class="section-container">     
            <section class="clearfix stat-row mdl-grid">
                <div class="mdl-cell--4-col">
                    {% include 'profile/_blocks/_stat_list.html' with stat=age.total_population stat_type='number' %}
                </div>

                <div class="mdl-cell--8-col" id="chart-pie-age-age_ratio" data-stat-type="percentage" data-chart-title=""></div>

            </section>
            <h2 class="section-secondary-heading">Age by Area</h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-age-age_by_area_distribution" data-stat-type="scaled-percentage"></div>
            </section>
            <h2 class="section-secondary-heading">Age by Gender</h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-age-age_by_sex_distribution" data-stat-type="scaled-percentage"></div>
            </section>
        </div>
    </div>
</article>

