<article id="decadal" class="clearfix wrapper mdl-card mdl-shadow--2dp mdl-cell--12-col profile-section">
    <div class="mdl-card__title">
        <i class="material-icons">school</i>
        <h2 class="mdl-card__title-text">Decadal Census Variation</h2>
    </div>
    <div class="mdl-card__supporting-text wrapper" >
        <div class="section-container">
            <h2 class="section-secondary-heading">Female:Male</h2>
            <section class="clearfix stat-row mdl-grid section-second-row">
                <div class="mdl-cell--12-col" id="chart-grouped_column-decadal-decadal_by_decade_distribution" data-stat-type="scaled-percentage"></div>
            </section>
        </div>
    </div>
</article> 

