<article id="demographics" class="clearfix wrapper mdl-card mdl-shadow--2dp mdl-cell--12-col profile-section">
    <div class="mdl-card__title">
        <i class="material-icons">insert_chart</i>
        <h2 class="mdl-card__title-text">Demographics</h2>
    </div>
    <div class="mdl-card__supporting-text wrapper" >
        <div class="section-container">
            <section class="clearfix stat-row mdl-grid">         
                <div class="mdl-cell--4-col">
                    {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
                </div>

                <div class="mdl-cell--4-col" id="chart-pie-demographics-population_sex_ratio" data-stat-type="percentage" data-chart-title="Gender"></div>
                <div class="mdl-cell--4-col" id="chart-pie-demographics-population_area_ratio" data-stat-type="percentage" data-chart-title="Area"></div>

            </section>

            <h2 class="section-secondary-heading">Literacy</h2>
            <section class="clearfix stat-row mdl-grid section-second-row">         
                <div class="mdl-cell--4-col" id="chart-pie-demographics-literacy_ratio" data-stat-type="percentage" data-chart-title="Overall literacy rate"></div>

                <div class="mdl-cell--4-col" id="chart-grouped_column-demographics-literacy_by_area_distribution" data-stat-type="scaled-percentage" data-chart-title="Literacy rate by Area"></div>

                <div class="mdl-cell--4-col" id="chart-grouped_column-demographics-literacy_by_sex_distribution" data-stat-type="scaled-percentage" data-chart-title="Literacy rate by Gender"></div>

            </section>

        </div>
    </div>  
</article> 


