<article id="demographics" class="clearfix">
    <header class="section-contents">
        <h1>Demographics</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#demographics">Demographics <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=demographics.total_population stat_type='number' %}
            </div>

            <div class="column-third" id="chart-pie-demographics-population_sex_ratio" data-stat-type="percentage" data-chart-title="Gender"></div>
            <div class="column-third" id="chart-pie-demographics-population_area_ratio" data-stat-type="percentage" data-chart-title="Area"></div>

        </section>

        <section class="clearfix stat-row">

          <h2><a class="permalink" href="#literacy-by-area" id="literacy-by-area">Literacy <i class="fa fa-link"></i></a></h2>
            <div class="column-third" id="chart-pie-demographics-literacy_ratio" data-stat-type="percentage" data-chart-title="Overall literacy rate"></div>

            <div class="column-third" id="chart-grouped_column-demographics-literacy_by_area_distribution" data-stat-type="scaled-percentage" data-chart-title="Literacy rate by Area" data-qualifier="Universe: {{ demographics.literacy_by_sex_distribution.metadata.universe }}"></div>

            <div class="column-third" id="chart-grouped_column-demographics-literacy_by_sex_distribution" data-stat-type="scaled-percentage" data-chart-title="Literacy rate by Gender" data-qualifier="Universe: {{ demographics.literacy_by_sex_distribution.metadata.universe }}"></div>

        </section>

    </div>
</article>