<article id="education" class="clearfix">
    <header class="section-contents">
        <h1>Education</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#education">Education <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=education.total_population stat_type='number' %}
            </div>

            <div class="column-two-thirds" id="chart-pie-education-education_ratio" data-stat-type="percentage" data-chart-title="Education"></div>

        </section>
        <section class="clearfix stat-row">
            <div class="" id="chart-grouped_column-education-education_by_area_distribution" data-stat-type="scaled-percentage" data-chart-title="Education by Area" data-qualifier="Universe: {{ education.education_by_area_distribution.metadata.universe }}"></div>
        </section>
        <section class="clearfix stat-row">

            <div class="" id="chart-grouped_column-education-education_by_sex_distribution" data-stat-type="scaled-percentage" data-chart-title="Education by Sex" data-qualifier="Universe: {{ education.education_by_sex_distribution.metadata.universe }}"></div>
        </section>

    </div>
</article>