<article id="languages" class="clearfix wrapper mdl-card mdl-shadow--2dp mdl-cell--12-col profile-section">
    <div class="mdl-card__title">
        <i class="material-icons">school</i>
        <h2 class="mdl-card__title-text">Mother tongue</h2>
    </div>
    <div class="mdl-card__supporting-text wrapper" >
        <div class="section-container">
            <section class="clearfix stat-row mdl-grid">
                <div class="mdl-cell--4-col">
                    {% include 'profile/_blocks/_stat_list.html' with stat=languages.total_population stat_type='number' %}
                </div>
                <div class="mdl-cell--8-col" id="chart-pie-languages-languages_ratio" data-stat-type="percentage"></div>
            </section>
           
        </div>
    </div>
</article> 

