<article id="workers" class="clearfix">
    <header class="section-contents">
        <h1>Data on Workers</h1>
    </header>
    <div class="section-container">

        <section class="clearfix stat-row">
            <h2><a class="permalink" href="#workers">Workers <i class="fa fa-link"></i></a></h2>
            <div class="column-quarter">
                {% include 'profile/_blocks/_stat_list.html' with stat=workers.total_population stat_type='number' %}
            </div>

            <div class="column-two-thirds" id="chart-pie-workers-workers_ratio" data-stat-type="percentage" data-chart-title="Workers Category distribution"></div>

        </section>
        <section class="clearfix stat-row">
            <div class="" id="chart-grouped_column-workers-workers_by_area_distribution" data-stat-type="scaled-percentage" data-chart-title="Workers classified by Area" data-qualifier="Universe: {{ workers.workers_by_area_distribution.metadata.universe }}"></div>
        </section>
        <section class="clearfix stat-row">

            <div class="" id="chart-grouped_column-workers-workers_by_sex_distribution" data-stat-type="scaled-percentage" data-chart-title="Workers classified by Sex" data-qualifier="Universe: {{ workers.workers_by_sex_distribution.metadata.universe }}"></div>
        </section>

    </div>
</article>
